.Forecast{
    text-align:center;
    margin: 30px;

}
.day-forecast{
    display: flex;
    justify-content: space-around;
}

.temp {
    font-size:15px;
    font-weight:bold;
}

.min {
    opacity:0.6;
    
}

.text-capitalize{
    font-weight:bold;
}

.humidity{
    font-weight:bold;
}
.wind{
    font-weight:bold;
}

@media(max-width:576px){
    .day-forecast{
        justify-content: flex-start;
    }
}