.card {
  display: inline-flex;
  flex-direction: row;
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  border-radius :20px;
  border: 2px solid #5e63b6;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
  margin: 120px;
  margin-left: 130px;
  max-width: 500px;
}

.form-control {
margin: 15px;
border-radius: 15px;
border:1px solid #113f67;
}

.btn {
  background-color: #113f67;
  color: #fcfafa;
margin: 15px;
margin-left: 1px;
border-radius: 15px;

}

.list {
  float: right;
  list-style: none;
  
}

footer {
  text-align: center;
}
h1 {
  color: #5e63b6;
  font-size: 50px;
  margin-bottom: 4px;
}

.temp{
  margin-left: 50px;
  font-weight:bold;
  font-size: 30px;
}

.day {
  font-size: 20px;
  margin-left: 10px;
}

